body {

    width: 1800px;
    height: 1000px;
    color: #E6E6FA;
    font-size: 5rem;
    margin-bottom: .5em;
    object-fit: cover;
    object-position: top left;
  }
  /*iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }*/